html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.navbar {
    max-width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 24px;
}

.navbar-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    border-radius: 50%;

}

#navbar-lcontainer {
    width: 92px;
}

#navbar-rcontainer {
    width: 260px;
}

#dots-icon {
    height: 24px;
    width: 24px;
    fill: #5f6368;
}

#signin-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60%;
    width: 96px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    user-select: none;
    -webkit-user-select: none; /* Safari */
}


/*--------hovers--------*/

.navbar-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menu-button:hover {
    background-color: #EAEBEE;
    cursor: pointer;
}

#signin-container:hover {
    filter: brightness(110%);
    cursor: pointer;
}
