:root {
    --navbar-height: 60px;
    --footer-height: 41px;
    --google-logo-top: 20vh;
    --footer-lcontainer-width: 300px;
    --footer-rcontainer-width: 190px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: space-between;

    padding: 0 24px 0 24px;
    width: calc(100vw - 24px * 2);
    height: var(--navbar-height);

    position: fixed;
}

.navbar-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.search-box-form {
    width: calc(100% - 20px - 24px);
    height: 100%;
    padding: 0 12px 0 12px;
}

.search-box-input {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#button-container {
    display: flex;
    width: 280px;
    height: 35px;
    justify-content: space-between;
    align-items: center;

    font-size: 13px;

    user-select: none;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f8f9fa;
    width: 130px;
    height: 100%;

    border: 1px solid #f8f9fa;
    border-radius: 5px;

    line-height: 100%;
    color: #202124;
}

.main-button > span {
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px 0 32px;
    width: calc(100vw - 32px * 2);
    min-height: var(--footer-height);

    background-color: rgb(242, 242, 242); 
    color: rgba(0,0,0,.54);

    position: fixed;
    top: calc(100vh - var(--footer-height));
}

.footer-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-hyperlink {
    color: #70757a;
}

.no-userselect {
    user-select: none;
    -webkit-user-select: none; /* Safari */
}

#google-logo {
    display: block;
    margin: auto;

    position: relative;
    top: var(--google-logo-top);
}

#menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#navbar-lcontainer {
    width: 92px;
}

#navbar-rcontainer {
    width: 260px;
}

#dots-icon {
    height: 24px;
    width: 24px;
    fill: #5f6368;
}

#signin-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 55%;
    width: 96px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
}

#mid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    height: 112px;

    position: relative;
    top: var(--google-logo-top);
}

#search-box {
    display: flex;
    justify-content: ;
    align-items: center;

    border: 1px solid #dfe1e5;
    border-radius: 50px;
    height: 44px;
    width: 576px;

    padding: 0 12px 0 12px;
}

#search-icon {
    color: #a9a9a9;
    font-size: 20px;
}

#mic-icon {
    color: #a9a9a9;
    font-size: 24px;
}

#footer-lcontainer {
    width: var(--footer-lcontainer-width);
}

#footer-rcontainer {
    width: var(--footer-rcontainer-width);
}


/*--------hovers--------*/

.navbar-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menu-button:hover {
    background-color: #EAEBEE;
    cursor: pointer;
}

#signin-container:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.no-focus:focus {
    outline: none;
}

#mic-icon:hover {
    cursor: pointer;
}

#search-box:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.main-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

@media only screen and (max-width: 600px) {
    #mid-container {
        padding: 24px 0 24px 0;
    }

    #search-box {
        width: calc(100% - 24px - 2px);     
        align-self: stretch;
    }

    #footer {
        height: calc(var(--footer-height) * 2);
        top: calc(100vh - (var(--footer-height) * 2));
        flex-flow: column;
    }

    .footer-container {
        height: 50%;
        margin: auto;
    }
}
